.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: #f8f8f8;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  z-index: 1000;
}

.shop-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem; /* Add some padding */
}

.contact-info {
  text-align: right;
  margin-right: 2rem; /* Add some margin to the right */
}

.shop-info h1 {
  margin: 0;
}

.shop-info p {
  margin: 0.2rem 0;
}
